PORT=3000

DATABASE_URL=mysql://biblioteca_user:biblioteca_pass@database:3306/biblioteca_np3
DB_HOST=database
DB_PORT=3306
DB_USER=biblioteca_user
DB_PASSWORD=biblioteca_pass
DB_NAME=biblioteca_np3

NOTIFY_EMAIL=grupo@example.com
SMTP_HOST=mailhog
SMTP_PORT=1025

VITE_API_URL=http://localhost:3000
